@import url('/sannicolasbis/assets/styles/style.root.css');

.staff-acc-wrapper
{
    height: 100dvh;
    width: 100dvw;
}

.staff-acc-container
{
    height: 100%;
    width: 100%;
}

.staff-acc-content
{
    height: calc(100dvh - 90px);
    width: calc(100dvw - 90px);
    padding: var(--ws-4);
    overflow: hidden;
    gap: var(--ws-4);
    flex: 1;
}

.utility
{
    justify-content: space-between !important; 
}

.new-staff-acc-btn
{
    text-decoration: none;
    background-color: var(--success);
    color: var(--white);
    border-radius: var(--ws-1);
    padding: var(--ws-2);
    gap: var(--ws-2);
}

.new-staff-acc-btn:hover
{
    background-color: var(--success-dark);
}

.new-staff-acc-btn svg, .staff-acc-btn svg path
{
    fill: var(--white);
}

.util-btn-wrapper
{
    gap: var(--ws-2);
}

@media screen and (max-width: 600px) 
{
    .new-staff-acc-btn p
    {
        display: none;
    }
}