@import url('/sannicolasbis/assets/styles/style.root.css');

.fam-head-content
{
    flex: 1;
    padding: var(--ws-4);
    gap: var(--ws-6);
}

.utility
{
    justify-content: space-between !important; 
}

.query-wrapper
{
    height: 40px;
    max-width: 300px;
    flex: 1;
    gap: var(--ws-2);
    position: relative;
}

.search-icon-wrapper
{
    position: absolute;
    left: 10px;
}

.search-icon-wrapper svg
{
    fill: var(--dark-gr-5);
}

.search-bar
{
    height: 100%;
    width: 100%;
    border: none;
    background-color: var(--dark-gr-8);
    font-size: var(--body-large);
    outline: none;
    border-radius: 50px;
    padding: var(--ws-2);
    padding-left: var(--ws-8);
}

.search-bar::placeholder
{
    color: var(--dark-gr-5);
}

.search-bar:focus
{
    outline: transparent;
    background-color: var(--white);
    border: 2px solid var(--black);

    & + .search-icon-wrapper svg
    {
        fill: var(--black);
    }
}

.new-family-head-btn
{
    text-decoration: none;
    background-color: var(--success);
    color: var(--white);
    border-radius: var(--ws-1);
    padding: var(--ws-2);
    gap: var(--ws-2);
}

.new-family-head-btn:hover
{
    background-color: var(--success-dark);
}

.new-family-head-btn svg, .new-family-head-btn svg path
{
    fill: var(--white);
}

.family-head-tbl
{
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: var(--ws-2);
    border: 1px solid gray;
}

.family-head-tbl thead
{
    background-color: var(--dark-gr-1);
    color: var(--white);
    padding: var(--ws-2);
}

.family-head-tbl td, .family-head-tbl th
{
    padding: var(--ws-3);
    text-align: left;
}

.family-head-tbl tr:nth-child(even)
{
    background-color: var(--gray-gr-3);
}

.data-btn-wrapper
{
    gap: var(--ws-2);
}

.data-util-btn
{
    border: none;
    outline: none;
    color: var(--white);
    border-radius: var(--ws-1);
    padding: var(--ws-2);
    text-decoration: none;
    cursor: pointer;
}

.more-details-btn
{
    background-color: var(--dark-gr-1);
}

.update-details-btn
{
    background-color: var(--info-dark);
}

.delete-details-btn
{
    background-color: var(--error-dark);
}