@import url('/sannicolasbis/assets/styles/style.root.css');

.residence-wrapper
{
    height: 100dvh;
    width: 100dvw;
}

.residence-container
{
    height: 100%;
    width: 100%;
}

.residence-content
{
    height: calc(100dvh - 90px);
    width: calc(100dvw - 90px);
    padding: var(--ws-4);
    overflow: hidden;
    gap: var(--ws-4);
    flex: 1;
}

.utility
{
    justify-content: space-between !important; 
}

.export-residence-btn
{
    text-decoration: none;
    background-color: var(--info);
    color: var(--white);
    border-radius: var(--ws-1);
    padding: var(--ws-2);
    gap: var(--ws-2);
}

.export-residence-btn svg
{
    fill: var(--white);
}

.export-residence-btn:hover
{
    background-color: var(--info-dark);
}

.filter-btn
{
    border: none;
    outline: none;
    background-color: var(--dark-gr-8);
    color: var(--dark-gr-1);
    border-radius: var(--ws-1);
    padding: var(--ws-2);
    cursor: pointer;
    text-decoration: none;
}

.query-filter-wrapper
{
    gap: var(--ws-3);
}

.filter-btn.active
{
    background-color: var(--dark-gr-1);
    color: var(--white);
}

@media screen and (max-width: 768px) 
{
    .new-residence-btn p
    {
        display: none;
    }

    .export-residence-btn p
    {
        display: none;
    }
}
