@import url('/sannicolasbis/assets/styles/style.root.css');

.brgy-off-wrapper
{
    height: 100dvh;
    width: 100dvw;
}

.brgy-off-container
{
    height: 100%;
    width: 100%;
}

.brgy-off-content
{
    height: calc(100dvh - 90px);
    width: calc(100dvw - 90px);
    padding: var(--ws-4);
    overflow: hidden;
    gap: var(--ws-4);
    flex: 1;
}

.utility
{
    justify-content: space-between !important; 
}

.util-btn-wrapper
{
    gap: var(--ws-2);
}

.export-official-btn
{
    text-decoration: none;
    background-color: var(--info);
    color: var(--white);
    border-radius: var(--ws-1);
    padding: var(--ws-2);
    gap: var(--ws-2);
}

.export-official-btn svg
{
    fill: var(--white);
}

.export-official-btn:hover
{
    background-color: var(--info-dark);
}

.new-official-btn
{
    text-decoration: none;
    background-color: var(--success);
    color: var(--white);
    border-radius: var(--ws-1);
    padding: var(--ws-2);
    gap: var(--ws-2);
}

.new-official-btn:hover
{
    background-color: var(--success-dark);
}

.new-official-btn svg, .new-official-btn svg path
{
    fill: var(--white);
}

@media screen and (max-width: 768px) 
{
    .new-official-btn p
    {
        display: none;
    }

    .export-official-btn p
    {
        display: none;
    }
}
