@import url('/sannicolasbis/assets/styles/style.root.css');

.audit-trail-wrapper
{
    height: 100dvh;
    width: 100dvw;
}

.audit-trail-container
{
    height: 100%;
    width: 100%;
}

.audit-trail-content
{
    height: calc(100dvh - 90px);
    width: calc(100dvw - 90px);
    padding: var(--ws-4);
    overflow: hidden;
    gap: var(--ws-4);
    flex: 1;
}

.utility
{
    justify-content: space-between !important; 
}