@import url('/sannicolasbis/assets/styles/style.root.css');

.update-resident-wrapper
{
    height: 100dvh;
    width: 100dvw;
}

.update-resident-container
{
    height: 100%;
    width: 100%;
}

.update-resident-content
{
    height: calc(100dvh - 90px);
    width: calc(100dvw - 90px);
    overflow: hidden;
    flex: 1;
    padding: var(--ws-4);
    gap: var(--ws-4);
    justify-content: start !important;
}

.update-resident-form-wrapper
{
    margin-top: var(--ws-4);
    max-width: var(--bp-laptop-l);
    border-radius: var(--ws-1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.form-header
{
    border-radius: var(--ws-1) var(--ws-1) 0 0 ;
    padding: var(--ws-4);
    background-color: var(--black);
    color: var(--white);
    justify-content: space-between;
    align-items: center;
}

.form-header p
{
    font-size: var(--body-small);
}

.form-content
{
    padding: var(--ws-4);
}

.info-wrapper
{
    gap: var(--ws-4);
}

.personal-info-wrapper, .other-info-wrapper
{
    gap: var(--ws-4);
}

.inp-row 
{
    gap: var(--ws-2);
}

.inp-group
{
    flex: 1;
    gap: var(--ws-1);
}

.info-inp
{
    max-height: 45px;
    line-height: 50px;
    padding: var(--ws-2);
    font-size: var(--body-large);
    flex: 1;
}

.aside
{
    height: 100%;
    gap: var(--ws-4);
    justify-content: space-between;
}

.sbm-btn-wrapper > div 
{
    width: 100%;
}

.sbm-btn-wrapper > div > button
{
    padding: var(--ws-2);
    background-color: var(--black);
    margin-bottom: var(--ws-1);
    color: var(--white);
    font-size: var(--body-large);
    border-radius: var(--ws-1);
    cursor: pointer;
}

@media screen and (max-width: 1100px)
{
    .info-wrapper
    {
        flex-direction: column;
    }
}

@media screen and (max-width: 850px)
{
    .name-wrapper
    {
        flex-direction: column;
    }

    .form-modal
    {
        height: fit-content;
        width: 100dvw;
        box-shadow: none;
    }

    .join-community-content-wrapper
    {
        height: fit-content;
        background: none;
    }
}

@media screen and (max-width: 700px)
{

}

@media screen and (max-width: 500px) 
{
    .form-header
    {
        display: none;
    }

    .update-resident-form-wrapper
    {
        max-width: 100%;
        box-shadow: none;
    }

    .flexible
    {
        flex-direction: column;
    }
}