@import url('/sannicolasbis/assets/styles/style.root.css');

.pend-doc-wrapper
{
    height: 100dvh;
    width: 100dvw;
}

.pend-doc-container
{
    height: 100%;
    width: 100%;
}

.pend-doc-content
{
    height: calc(100dvh - 90px);
    width: calc(100dvw - 90px);
    padding: var(--ws-4);
    overflow: hidden;
    gap: var(--ws-4);
    flex: 1;
}

.utility
{
    justify-content: space-between !important; 
}

.filter-btn
{
    border: none;
    outline: none;
    background-color: var(--dark-gr-8);
    color: var(--dark-gr-1);
    border-radius: var(--ws-1);
    padding: var(--ws-2);
    cursor: pointer;
    text-decoration: none;
}

.query-filter-wrapper
{
    gap: var(--ws-3);
}

.filter-btn.active
{
    background-color: var(--dark-gr-1);
    color: var(--white);
}