@import url('/sannicolasbis/assets/styles/style.root.css');

.admin-container
{
    height: 100dvh;
    width: 100dvw;
    position: relative;
}

.side-content
{
    height: 100%;
    width: 30%;
    padding: var(--ws-6);
}

.side-content-header
{
    margin-left: var(--ws-8);
    width: 100%;
    color: var(--plt-red-2);
}

.side-content-header h1
{
    font-size: var(--header-h3);
}

.side-content-header h2
{
    font-size: var(--header-h5);
}

.anim-wrapper
{
    height: auto;
    width: 90%;
}

.anim-wrapper img
{
    height: 100%;
    width: 100%;
}

.adm-modal
{
    height: fit-content;
    max-width: 800px;
    gap: var(--ws-6);
    border-radius: var(--ws-2);
    background-color: var(--white);
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.copyright
{
    position: absolute;
    bottom: 20px;
}

.copyright p 
{
    color: var(--white);
    font-size: var(--body-small);
    text-align: center;
}

.contact-link-wrapper
{
    position: absolute;
    bottom: 20px;
    gap: var(--ws-2);
}

.contact-link-wrapper a
{
    aspect-ratio: 1/1;
    background-color: var(--white);
    border: 2px solid var(--dark-gr-6);
    border-radius: var(--ws-1);
    padding: var(--ws-2);
    transition: all 0.15s ease-in-out;
} 

.contact-link-wrapper a svg path
{
    fill: var(--dark-gr-6);
    transition: all 0.15s ease-in-out;
} 

.contact-link-wrapper a:hover
{
    border: 2px solid var(--black);

    & > svg path
    {
        fill: var(--black);
    } 
}

.login-content-wrapper
{
    flex: 1;
    padding: var(--ws-8);
    background-color: var(--plt-red-2);
    background-size: cover;
    background-position: center;
    background-image: url('/sannicolasbis/assets/src/images/sannics_home.png');
    animation: updown 20s ease-in-out infinite alternate;
}

@keyframes updown 
{
    from 
    {
      background-position-y: 0;
    }
    to 
    {
      background-position-y:100%;
    }
}

.login-content
{
    width: 400px;
    border-radius: var(--ws-1);
    background-color: var(--white);
    gap: var(--ws-2);
}

.brgy-container
{
    gap: var(--ws-2);
    padding: var(--ws-4);
    color: var(--black);
    align-items: center;
}

.icon-wrapper
{
    height: 60px;
    width: 60px;
}

.icon-wrapper img 
{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.login-form-wrapper
{
    padding: var(--ws-4);
    gap: var(--ws-2);
}

.login-input-wrapper
{
    gap: var(--ws-3);
    margin-bottom: var(--ws-4);
}

.toggle-pass-wrapper
{
    padding: var(--ws-1);
    width: fit-content;
    gap: var(--ws-2);
}

.toggle-pass
{
    height: 15px;
    width: 15px;
    outline: none;
    border: 1px solid var(--white);
}

.toggle-pass-hint
{
    color: var(--black);
    font-size: var(--body-medium);
}

.login-input
{
    width: 100%;
    padding: var(--ws-3);
    outline: none;
    border: 1px solid var(--black);
    border-radius: var(--ws-1);
    color: var(--black);
    font-size: var(--body-large);
}

.login_btn
{
    width: 100%;
    outline: none;
    border: none;
    padding: var(--ws-3);
    border-radius: var(--ws-1);
    background-color: var(--plt-red-2);
    color: var(--white);
    font-weight: bold;
    font-size: var(--body-medium);
    cursor: pointer;
}

.login_btn:hover
{
    background-color: var(--plt-red-2-d-tint);
}

@media screen and (max-width: 1024px) 
{
    .side-content
    {
        display: none;
    }
}

@media screen and (max-width: 500px) 
{
    .login-content
    {
        width: 90%;
    }
}