@import url('/sannicolasbis/assets/styles/style.root.css');

main
{
    height: 100dvh;
    width: 100dvw;
    max-width: 100dvw;
}

.table-wrapper
{
    overflow-x: scroll;
}

.content-wrapper
{
    flex: 1;
    padding: var(--ws-4);
    gap: var(--ws-4);
}