.otp-modal
{    
    height: 100dvh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
}

.otp-modal-content
{
    height: fit-content;
    width: fit-content;
    background-color: var(--white);
    border-radius: var(--ws-1);
    padding: var(--ws-6);
    gap: var(--ws-4);
}

.otp-form
{
    gap: var(--ws-2);
}

.otp-input-wrapper
{
    gap: var(--ws-2);
}

.otp-input
{
    height: var(--ws-8);
    padding: var(--ws-2);
    outline: none;
    flex: 1;
    line-height: var(--ws-8);
    border-radius: var(--ws-1);
    border: 1px solid var(--black);
}

.verify-otp-btn
{
    height: var(--ws-8);
    width: fit-content;
    border: none;
    border-radius: var(--ws-1);
    outline: none;
    padding: var(--ws-4);
    color: var(--white);
    background-color: var(--plt-red-2);
    cursor: pointer;
}

.verify-otp-btn:hover
{
    background-color: var(--plt-red-2-d-tint);
}