.modal-container
{
    height: 100dvh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal
{
    max-width: 500px;
    padding: var(--ws-4);
    border-radius: var(--ws-1);
    background-color: var(--white);
    gap: var(--ws-4);
}

.modal > div
{
    gap: var(--ws-4);
}

.event-desc-wrapper
{
    gap: var(--ws-4);
}

.event-desc-wrapper > div
{
    gap: var(--ws-4);
    width: 100%;
}

.event-img-wrapper
{
    height: 250px;
    width: 300px;
    border-radius: var(--ws-1);
    overflow: hidden;
}

.event-img-wrapper img 
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info-group
{
    flex: 1;
}

.info-event-title
{
    font-weight: bold;
}

.modal-btn
{
    height: var(--ws-8);
    width: 130px;
    border-radius: var(--ws-1);
    color: var(--white);
    background-color: var(--black);
    padding: var(--ws-4);
    border: none;
    outline: none;
    font-size: var(--body-medium);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}