@import url('/sannicolasbis/assets/styles/style.root.css');

.modal-container
{
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal
{
    max-height: 100%;
    height: fit-content;
    width: fit-content;
    padding: var(--ws-4);
    border-radius: var(--ws-1);
    background-color: var(--white);
    gap: var(--ws-4);
    overflow-y: scroll;
}

.info-row
{
    gap: var(--ws-4);
}

.info-col
{
    gap: var(--ws-4);
}

.info-grp
{
    flex: 1;
    gap: var(--ws-1);
}

.info-lbl
{
    text-wrap: nowrap;
    font-size: var(--body-medium);
    color: var(--dark-gr-5);
}

.info-val
{
    text-wrap: nowrap;
    font-size: var(--body-large);
}

.pending-util-btn-wrapper
{
    justify-content: flex-end;
    gap: var(--ws-2);
}

.pending-close-btn
{
    padding: var(--ws-2);
    background-color: var(--black);
    color: var(--white);
    border-radius: var(--ws-1);
    font-size: var(--body-medium);
    text-decoration: none;
    cursor: pointer;
}

.group-title::after
{
    content: ' ';
    height: 3px;
    width: 100%;
    margin: auto;
    display: block;
    margin-top: var(--ws-1);
    background-color: var(--black);
}

.group
{
    border-radius: var(--ws-1);
    padding: var(--ws-4);
    border: 2px solid var(--black);
}

.fam-members-content
{
    max-height: 250px;
    gap: var(--ws-2);
}

.show-fam-members-btn
{
    padding: var(--ws-2);
    background-color: var(--white);
    color: var(--black);
    border-radius: var(--ws-1);
    font-size: var(--body-medium);
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 1450px) 
{
    .fam-info-seperator
    {
        flex-direction: column !important;
    }
}

@media screen and (max-width: 900px) 
{
    .group
    {
        flex-direction: column !important;
    }
}

@media screen and (max-width: 500px) 
{
    .info-row
    {
        flex-direction: column !important;
    }

    .info-grp p
    {
        text-wrap: wrap;

    }
}