.modal-container
{
    height: 100dvh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal
{
    max-width: 500px;
    padding: var(--ws-4);
    border-radius: var(--ws-1);
    background-color: var(--white);
    gap: var(--ws-4);
}

.modal > div
{
    gap: var(--ws-4);
}

.modal header
{
    gap: var(--ws-2);
}

.message-holder
{
    text-align: left;
    gap: var(--ws-2);
}

.icon-wrapper-success, .icon-wrapper-error, .icon-wrapper-question
{
    height: 60px;
    width: 60px;
}

.icon-wrapper-success svg
{
    height: 100%;
    width: 100%;
    fill: var(--success);
}

.icon-wrapper-error svg
{
    height: 100%;
    width: 100%;
    fill: var(--error);
}

.icon-wrapper-question svg
{
    height: 100%;
    width: 100%;
    fill: var(--info);
}

.modal-btn-wrapper
{
    margin-top: var(--ws-2);
    gap: var(--ws-2);
    justify-content: flex-end;
}

.modal-btn
{
    height: var(--ws-8);
    width: 130px;
    border-radius: var(--ws-1);
    padding: var(--ws-4);
    border: none;
    outline: none;
    font-size: var(--body-medium);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.modal-prm-btn
{
    background-color: var(--dark-gr-2);
    color: var(--white);
}

.modal-prm-btn:hover
{
    background-color: var(--dark-gr-1);
}

.modal-scn-btn
{
    background-color: transparent;
    color: var(--dark-gr-2);
}

.modal-scn-btn:hover
{
    background-color: var(--gray-gr-2);
}