@import url('/sannicolasbis/assets/styles/style.root.css');

main
{
    height: fit-content;
    gap: calc(var(--ws-10) * 3);
}

section
{
    width: 100%;
    padding: var(--ws-4);
}

.container
{
    height: fit-content;
    width: fit-content;
    max-width: var(--bp-laptop-l);
    padding: var(--ws-4);
}

.online-docu-req-wrapper
{
    height: fit-content;
    padding: 0;
    padding-top: 110px;
}

.services-title
{
    text-align: center;
    font-size: var(--header-h5);
}

.online-docu-req
{
    padding: var(--ws-8);
    gap: var(--ws-6);
    width: 100%;
}

.docu-cards-wrapper
{
    width: 100%;
    gap: var(--ws-8);
    flex-wrap: wrap;
}

.docu-cards
{
    max-width: 400px;
    height: fit-content;
    width: fit-content;
    padding: var(--ws-6);
    gap: var(--ws-6);
    border-radius: var(--ws-1);
    background-color: var(--white);
    box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.2);
}

.img-wrapper
{
    height: 300px;
    width: 100%;
    border: 2px solid var(--black);
}

.img-wrapper img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: updown 10s ease-in-out infinite alternate;
}

@keyframes updown {
    from 
    {
        object-position: 0 0%;
    }
    to 
    {
        object-position: 0 100%;
    }
}

.docu-details
{
    gap: var(--ws-2);
}

.docu-details p
{
    font-size: var(--body-medium);
    text-align: center;
}

.docu-details h2
{
    text-align: center;
    font-size: var(--header-h5);
}

.proceed-btn
{
    background-color: var(--black);
    border-radius: var(--ws-1);
    padding: var(--ws-2);
    padding-right: var(--ws-3);
    color: var(--white);
    text-decoration: none;
    gap: var(--ws-2);
}

.online-docu-req-steps-wrapper
{
    height: fit-content;
    padding: var(--ws-8);
}

.online-docu-steps
{
    gap: var(--ws-6);
}

.online-docu-steps-title
{
    font-size: var(--header-h4);
}

.steps-wrapper
{
    height: fit-content;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    gap: var(--ws-4);
}

.steps-cont
{
    width: 25%;
    min-width: 200px;
    max-width: 320px;
    padding: var(--ws-2);
    gap: var(--ws-4);
}

.step-icon
{
    height: 100px;
    width: 100px;
}

.step-icon img
{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.details-wrapper
{
    text-align: center;
    gap: var(--ws-1);
}

.hotline-section
{
    height: fit-content;
    padding: var(--ws-8);
}
.hotline-wrapper
{
    gap: var(--ws-6);
}

.hotline-content
{
    width: 100%;
    max-width: var(--bp-laptop-l);
    flex-wrap: wrap;
    gap: var(--ws-10);
}

.hotline-num-card
{
    min-width: 320px;
    background-color: var(--white);
    border-radius: var(--ws-1);
    padding: var(--ws-4);
    box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.2);
    gap: var(--ws-4);
}

.logo-wrapper
{
    height: 100px;
    aspect-ratio: 1/1;
}

.logo-wrapper img
{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.hotline-num-wrapper
{
    gap: var(--ws-2);
    align-items: start;
}

.scroll-on-top-wrapper 
{
    display: none;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: var(--ws-5);
    right: var(--ws-5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.scroll-on-top
{
    height: 100%;
    width: 100%;
    background-color: var(--white);
    border-radius: var(--ws-1);
}

.scroll-on-top:hover
{
    background-color: var(--gray-gr-2);
}

.su-icon
{
    width: 70%;
    height: 70%;
    fill: var(--dark-gr-6);
}

.services-footer
{
    height: fit-content;
    padding: var(--ws-8);
    background-color: var(--plt-red-2);
    justify-content: space-between;
}

.services-footer p
{
    color: var(--white);
    font-size: var(--body-small);
}
