@import url('/sannicolasbis/assets/styles/style.root.css');

.brgy-document-wrapper
{
    height: 100dvh;
    width: 100dvw;
    padding-top: 150px;
    align-items: flex-start;
}

.brgy-document
{
    height: 100%;
    width: 100%;
    max-width: var(--bp-laptop-l);
    gap: var(--ws-8);
}

.brgy-document-content-wrapper, .req-modal
{
    flex: 1;
    height: fit-content;
    background-color: var(--white);
    border-radius: var(--ws-1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.brgy-document-content
{
    height: 100%;
    width: 100%;
}

.brgy-document-content-header, .req-modal-header
{
    padding: var(--ws-4);
    background-color: var(--black);
    color: var(--white);
    align-items: center;
}

.brgy-document-content-header svg
{
    fill: var(--white);
}

.brgy-document-form-wrapper, .req-mmodal-content
{
    padding: var(--ws-4);
}

.brgy-document-form
{
    gap: var(--ws-4);
}

.inp-row 
{
    gap: var(--ws-2);
}

.inp-col
{
    flex: 1;
    gap: var(--ws-1);
}

.info-inp
{
    max-height: 45px;
    line-height: 50px;
    padding: var(--ws-2);
    font-size: var(--body-large);
    flex: 1;
}

.back-btn
{
    color: var(--white);
    text-decoration: none;
    font-size: var(--body-large);
}

.brgy-document-btn-wrapper
{
    justify-content: flex-end;
}

.brgy-document-btn
{
    width: 100px;
    background-color: var(--black);
    color: var(--white);
    padding: var(--ws-2);
    border-radius: var(--ws-1);
    font-size: var(--body-medium);
    cursor: pointer;
}

.req-modal
{
    max-width: 300px;
}

.req-modal-list
{
    gap: var(--ws-3);
}

.req-mmodal-content
{
    gap: var(--ws-6);
}

.req-row
{
    gap: var(--ws-4);
}

@media screen and (max-width: 1440px) 
{
    .brgy-document
    {
        flex-direction: column;
        padding: var(--ws-4);
    }

}

@media screen and (max-width: 1100px) 
{
    .name-row
    {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 700px) 
{
    .brgy-document-form > div
    {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) 
{
    .brgy-document
    {
        padding: 0;
        height: fit-content;
    } 

    .brgy-document-content-wrapper
    {
        height: 100%;
        width: 100%;
    }

    .req-modal
    {
        max-width: 100%;
        width: 100%;
    }
}