.side-menu-content
{    
    z-index: 3;
    height: calc(100dvh - 90px);
    width: 350px;
    padding: var(--ws-3);
    color: var(--white);
    overflow-x: hidden;
    background-color: var(--plt-red-2);
}

.side-menu-content-hide
{
    background-color: var(--plt-red-2);
    width: fit-content;

    & .admin-nav-link p, .acc-info-wrapper div, .brgy-info
    {
        display: none;
    }
}

.overlay-menu-wrapper
{
    flex: 1;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.container
{
    gap: var(--ws-2);
}

.brgy-info p 
{
    font-size: var(--body-small);
}

.menu-wrapper
{
    height: var(--ws-5);
    width: var(--ws-5);
}

.admin-nav-link-wrapper
{
    flex: 1;
    margin-bottom: var(--ws-4);
    overflow-y: scroll;
    overflow-x: hidden;
}

.admin-nav-link-wrapper::-webkit-scrollbar 
{
    width: 5px;
}
  
.admin-nav-link-wrapper::-webkit-scrollbar-track
{
    background-color: var(--plt-red-2);
}
   
.admin-nav-link-wrapper::-webkit-scrollbar-thumb 
{
    background: var(--white); 
    border-radius: var(--ws-2);
}

.admin-nav-link
{
    padding: var(--ws-3);
    align-items: center;
    gap: var(--ws-2);
    border-radius: var(--ws-1);
    text-decoration: none;
    font-size: var(--body-medium);
    color: var(--white);
    cursor: pointer;
}

.admin-nav-link.active, .admin-nav-link.active:hover
{
    background-color: var(--white);
    color: var(--plt-red-2);
    font-weight: bold;

    & svg
    {
        fill: var(--plt-red-2);
    }
}

.admin-nav-link:hover, .menu:hover
{
    background-color: var(--plt-red-2-d-tint);
}

.admin-nav-link span svg, .menu-wrapper svg
{
    min-height: 25px;
    min-width: 25px;    
    height: 25px;
    width: 25px;
    fill: var(--white);
}

.group-nav
{
    flex: 1;
    align-items: center;
    gap: var(--ws-2);
}

.lower-container
{
    margin-top: var(--ws-4);
}

.acc-info-wrapper
{
    justify-content: space-between;
}

.icon
{
    height: 50px;
    width: 50px;
    background-color: gray; 
}

.acc-icon
{
    height: 50px;
    width: 50px;
    fill: var(--white);
}

.acc-info
{
    margin-left: var(--ws-2);
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.acc-name
{
    font-size: var(--body-medium);
}

.acc-email
{
    font-size: var(--body-small);
}

.logout-wrapper
{
    padding: var(--ws-3);
    border-radius: var(--ws-1);
    cursor: pointer;
}

.logout
{
    height: var(--ws-5);
    width: var(--ws-5);
}

.logout-wrapper:hover
{
    background-color: var(--plt-red-2-d-tint);
}

.menu-wrapper svg, .acc-icon svg, .logout svg
{
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 768px) 
{
    .overlay-menu-wrapper
    {
        display: flex;
    }

    .side-menu-wrapper
    {
        position: fixed;
        z-index: 2;
    }

    .side-menu-content-hide
    {
        width: 0;
        padding: 0;
        overflow: hidden;
    }
}

@media screen and (max-width: 500px) 
{
    .side-menu-content
    {
        width: 100dvw;
    }

    .side-menu-content-hide
    {
        width: 0;
        padding: 0;
        overflow: hidden;
    }

    .header-content h4
    {
        display: none;
    }
}