@import url('/sannicolasbis/assets/styles/style.root.css');

.new-staff-wrapper
{
    height: 100dvh;
    width: 100dvw;
}

.new-staff-container
{
    height: 100%;
    width: 100%;
}

.new-staff-acc-content
{
    justify-content: flex-start;
    height: calc(100dvh - 90px);
    width: calc(100dvw - 90px);
    padding: var(--ws-4);
    overflow: scroll;
    gap: var(--ws-4);
    flex: 1;
}

.back-btn-wrapper
{
    justify-content: start;
}

.back-btn
{
    height: 30px;
    width: 30px;
    background-color: var(--black);
    color: var(--white);
    border-radius: var(--ws-1);
    text-decoration: none;
}

.back-btn svg
{
    height: 100%;
    width: 100%;
    fill: var(--white);
}

.new-staff-acc-form-wrapper
{
    min-width: 500px;
    margin-top: var(--ws-4);
    max-width: var(--bp-laptop-l);
    border-radius: var(--ws-1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.form-header
{
    padding: var(--ws-4);
    border-radius: var(--ws-1) var(--ws-1) 0 0;
    background-color: var(--black);
    color: var(--white);
    justify-content: space-between;
}

.form-header p
{
    font-size: var(--body-small);
}

.form-content-wrapper
{
    padding: var(--ws-4);
    gap: var(--ws-4);
}

.personal-info-container, .account-info-container
{
    gap: var(--ws-4);
}

.personal-info-container > .f-row
{
    gap: var(--ws-2);
}

.no-form-input
{
    outline: none;
    border: 2px solid var(--dark-gr-7);
    border-radius: var(--ws-1);
    padding: var(--ws-2);
    font-size: var(--body-large);
}

.invalid, .invalid:focus
{
    border: 2px solid var(--error) !important;
}

.no-form-input:focus
{
    border: 2px solid var(--dark-gr-1);
}

.no-form-label
{
    font-size: var(--body-large);
    margin-bottom: var(--ws-2);
    width: 200px;
}

.submit-btn-wrapper
{
    flex: 1;
    justify-content: space-between;
}

.submit-new-official-btn
{
    height: 50px;
    width: 100px;
    padding: var(--ws-2);
    background-color: var(--dark-gr-1);
    color: var(--white);
    font-size: var(--body-large);
    border-radius: var(--ws-1);
    cursor: pointer;
}

.submit-new-official-btn:hover
{
    background-color: var(--dark-gr-2);
}

.form-content-wrapper section
{
    display: none;
}

.form-content-wrapper section.active
{
    display: flex;
}

.btn-wrapper
{
    justify-content: space-between;
    align-items: flex-end;
    color: var(--dark-gr-6);
}

.btn-wrapper div
{
    margin-top: var(--ws-4);
    gap: var(--ws-2);
}

.util-btn
{
    width: 100px;
    padding: var(--ws-2);
    background-color: var(--black);
    color: var(--white);
    font-size: var(--body-large);
    border-radius: var(--ws-1);
    cursor: pointer;
}

.toggle-pass-wrapper
{
    justify-content: end;
    gap: var(--ws-2);
}

.pass-req::before
{
    content: '✖';
    color: var(--error);
    margin-right: var(--ws-2);
}

.pass-req.true::before
{
    content: '✔';
    color: var(--success);
    margin-right: var(--ws-2);
}

.reset-pass-btn
{
    background: none;
    border: 1px solid var(--black);
    padding: var(--ws-2);
    border-radius: var(--ws-1);
    outline: none;
    font-size: var(--body-large);
    cursor: pointer;
}

.reset-pass-wrapper
{
    display: none;
    gap: var(--ws-4);
}

@media screen and (max-width: 1200px)
{
    .form-content-wrapper
    {
        flex-direction: column;
    }

    .card
    {
        height: 100px;
    }

    .info-holder h1
    {
        font-size: var(--header-h6);
    }

}

@media screen and (max-width: 1024px)
{
    .name-wrapper
    {
        flex-direction: column;
    }

    .card
    {
        height: 100px;
    }

    .info-holder h1
    {
        font-size: var(--header-h6);
    }

}