.initial-header
{
    min-height: 110px;
    width: 100%;
    padding: var(--ws-4);
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: var(--plt-red-2);
    color: var(--white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.15s ease-in-out;
}

.header-content
{
    height: 100%;
    width: var(--bp-laptop-l);
    max-width: var(--bp-laptop-l);
    align-items: center;
    justify-content: space-between;
}

.icon
{
    height: 70px;
    width: 70px;
}

.icon img
{
    height: 100%;
    width: 100%;
}

.sys-info
{
    gap: var(--ws-4);
}

.brgy-title
{
    font-size: var(--header-h6);
    font-weight: bold;
    color: var(--white);
}

.brgy-loc
{
    font-size: var(--body-small);
    color: var(--white);
}

.desktop-nav-list
{
    list-style: none;
    font-size: var(--body-large);
    gap: var(--ws-2);
    color: var(--white);
}

.desktop-nav-list a
{   
    text-decoration: none;
    color: var(--white);
    padding: var(--ws-4);
    border-radius: var(--ws-1);
    display: flex;
    align-items: center;
    transition: all 0.15s ease-in-out;
}

.desktop-nav-list a.active::after
{
    content: ' ';
    height: 3px;
    width: 100%;
    margin: auto;
    display: block;
    margin-top: var(--ws-1);
    background-color: var(--white);
}

.desktop-nav-list a svg, .desktop-nav-list a svg path
{
    fill: var(--white);
}

.desktop-nav-list a:hover
{
    background-color: var(--plt-red-2-d-tint);
}

.md-icon
{
    fill: var(--white);
    transition: all 0.15s ease-in-out;
}

.services-dd, .about-dd
{
    position: relative;
}

.services-dd-list, .about-dd-list
{
    position: absolute;
    display: none;
    overflow: hidden;
    background-color: var(--white);
    border-radius: var(--ws-1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.15s ease-in-out;
}

.services-dd-list a, .about-dd-list a
{
    color: var(--black);
}

.services-dd-list a:hover, .about-dd-list a:hover
{
    background-color: var(--gray-gr-2);
}

.about-dd:hover + .about-dd-list, .about-dd-list:hover
{
    display: flex;
}

.services-dd:hover + .services-dd-list, .services-dd-list:hover
{
    display: flex;
}

/** TABLET NAV */

.tablet-nav
{
    height: 40px;
    width: 40px;
    display: none;
}

.tablet-nav svg
{
    height: 100%;
    width: 100%;
}

.nav-overlay
{
    height: 100dvh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.15s ease-in-out;
}

.side-menu-container
{
    position: fixed;
    z-index: 4;
    top: 0;
    right: -300px;
    height: 100%;
    width: 300px;
    background-color: var(--white);
    padding: var(--ws-4);
    transition: all 0.15s ease-in-out;
}

.side-menu-container hr
{
    border-top: 1px solid var(--gray-gr-3);
}

.side-menu-container header
{
    margin-bottom: var(--ws-4);
    background-color: var(--white);
}

.side-menu-container header svg, .side-menu-container header svg path
{
    height: 30px;
    width: 30px;
    fill: var(--dark-gr-5); 
}

.brgy-container
{
    gap: var(--ws-2);
    color: var(--black);
}

.nav-link-wrapper
{
    flex: 1;
    margin-top: var(--ws-4);
    margin-bottom: var(--ws-4);
    overflow-y: scroll;
}

.nav-link-wrapper::-webkit-scrollbar 
{
    width: 5px;
}
  
.nav-link-wrapper::-webkit-scrollbar-track
{
    background-color: var(--white);
}
   
.nav-link-wrapper::-webkit-scrollbar-thumb 
{
    background: var(--dark-gr-7); 
    border-radius: var(--ws-2);
}

.overlay-nav-list li
{
    display: flex;
    list-style: none;
}

.overlay-nav-list li a
{
    flex: 1;
    padding: var(--ws-2);
    border-radius: var(--ws-1);
    text-decoration: none;
    font-size: var(--body-large);
    color: var(--black);
}

.overlay-nav-list li a:hover
{
    background-color: var(--gray-gr-2);
}

.overlay-nav-list li a:active
{
    background-color: var(--gray-gr-3);
}

.side-menu-container footer
{
    margin-top: var(--ws-4);
    gap: var(--ws-3);
}

.side-menu-container footer p
{
    color: var(--dark-gr-6);
    font-size: var(--body-small);
    text-wrap: wrap;
    text-align: center;
}

.on-contacts-wrapper
{
    gap: var(--ws-4);
}

.on-contacts a svg
{
    height: 20px;
    width: 20px;
}

.on-contacts a svg, .on-contacts a svg path
{
    fill: var(--dark-gr-6);
}

@media screen and (max-width: 1024px)
{
    .about-section-content
    {
        flex-direction: column;
    }

    .about-image-wrapper
    {
        justify-content: center;
    }

    .desktop-nav
    {
        display: none;
    }

    .tablet-nav
    {
        display: flex;
    }
}

@media screen and (max-width: 900px)
{
   
    .about-section-content
    {
        flex-direction: column;
    }

    .about-txt
    {
        max-width: var(--bp-tablet);
    }

    .mivis-section-content
    {
        flex-direction: column-reverse;
    }

    .content div
    {
        align-content: center;
    }

    .brgy-cap-content
    {
        flex-direction: column-reverse;
    }
    
    .brgy-cap-wrapper
    {
        width: 100%;
        height: fit-content;
    }

    .brgy-cap-wrapper img
    {
        width: 100%;
    }
}

@media screen and (max-width: 550px) 
{
    .sys-info
    {
        gap: var(--ws-2);    
    }

    .icon
    {
        height: 60px;
        width: 60px;
    }

    .brgy-title
    {
        font-size: var(--body-large);
    }

    .brgy-loc
    {
        font-size: var(--body-small);
    }

    .map-wrapper
    {
        display: flex;
        justify-content: center;
    }

    .sb-title
    {
        font-size: var(--header-h5);
    }
}

@media screen and (max-width: 425px) 
{
    .side-menu-container
    {
        width: 100dvw;
        right: -100dvw;
    }
}