@import url('/sannicolasbis/assets/styles/style.root.css');

/** CONTENT SECTION */

section
{
    scroll-margin-top: 55px;
    background-color: var(--white);
    box-sizing: border-box;
    padding-top: var(--ws-20);
    padding-bottom: var(--ws-20);
    color: var(--white);
}

/** LANDING SECTION */

.landing-section
{
    height: 100dvh;
    padding: 0;
    padding-top: 110px;
}

.landing-text
{
    max-width: var(--bp-tablet);
    text-align: center;
    line-height: 1.5;
}

.landing-section-content
{
    width: 100%;
    flex: 1;
    padding: var(--ws-8);
    text-align: center;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-image: url('/sannicolasbis/assets/src/images/sannics_home.png');
    animation: updown 20s ease-in-out infinite alternate;
}

@keyframes updown {
    from 
    {
      background-position-y: 0;
    }
    to 
    {
      background-position-y:100%;
    }
}

.landing-txt
{
    margin-bottom: var(--ws-5);
}

.goto-about-btn
{
    background-color: var(--white);
    text-decoration: none;
    font-size: var(--body-large);
    color: var(--black);
    padding: var(--ws-2);
    padding-inline: var(--ws-4);
    border-radius: 50px;
    gap: var(--ws-1);
}

.goto-about-btn:hover
{
    background-color: var(--gray-gr-3);
}

/** ABOUT SECTION */

.about-section-content
{
    max-width: var(--bp-laptop-l);
    padding-inline: var(--ws-4);
    gap: var(--ws-5);
}

.about-txt
{
    color: var(--black);
    gap: var(--ws-6);
    line-height: 1.5;
    flex: 1;
}

.about-txt div
{
    gap: var(--ws-1);
}

.about-title-wrapper p
{
    color: var(--error);
    font-size: var(--body-large);
    font-weight: bold;
}

.about-title-wrapper h1
{
    font-size: var(--header-h5);
    line-height: 1.3;
}

.about-info-wrapper p
{
    font-size: var(--body-large);
}

.about-image-wrapper
{
    flex: 1;
    justify-content: flex-end;
}

.image-wrapper
{
    flex: 1;
    height: 50vh;
    width: 50vw;
    max-height: 500px;
    max-width: 500px;
    gap: var(--ws-4);
    background-color: gray;
}

.image-wrapper div
{
    flex: 1;
    gap: var(--ws-4);
}

.image
{
    flex: 1;
    height: auto;
    width: auto;
    background-color: gray;
}

/** OFFICIALS */

.officials-section-content
{
    width: 100%;
    max-width: var(--bp-laptop-l);
    padding-inline: var(--ws-4);
    color: black;
    gap: var(--ws-4);
}

.officials-profile
{
    height: 100%;
    width: 100%;
    gap: var(--ws-6);
    max-width: var(--bp-laptop-l);
}

.official-image
{
    height: 100%;
    width: 100%;
    background-color: gray;
}

.brgy-cap-content
{
    height: 700px;
    width: 100%;
    background-color: var(--plt-red-2);
}

.brgy-cap-wrapper
{
    height: 100%;
    width: 50%;
    aspect-ratio: 1/2;
    background-size: cover;
    flex: 1;
}

.brgy-cap-wrapper img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.brgy-cap-desc
{
    flex: 1;
    justify-content: center;
    padding: var(--ws-8);
    color: var(--white);
    gap: var(--ws-4);
}

.sb-title
{
    margin-top: var(--ws-4);
    font-size: var(--header-h3);
    text-align: center;
}

.barangays-wrapper
{
    flex-wrap: wrap;
    gap: var(--ws-6);
}

.brgy-card-wrapper
{
    width: 400px;
    aspect-ratio: 1/1.3;
}

.brgy-card-wrapper img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/** MISSION VISION */

.mivis-section-content
{
    max-width: var(--bp-laptop-l);
    padding-inline: var(--ws-4);
    color: black;
    gap: var(--ws-8);
    text-align: justify;
    text-justify: inter-word;
}

.mivis-row
{
    gap: var(--ws-8);
    flex: 1;
}

.mivis-row p
{
    line-height: 1.5;
}

.mivis-lang
{
    color: var(--error);
}

.mivis-eng, .mivis-tag
{
    flex: 1;
    gap: var(--ws-4);
}


/** OVERLAY */

.overlay
{
    position: fixed;
    bottom: var(--ws-5);
    right: var(--ws-5);
}

.scroll-on-top-wrapper 
{
    display: none;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: var(--ws-5);
    right: var(--ws-5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.scroll-on-top
{
    height: 100%;
    width: 100%;
    background-color: var(--white);
    border-radius: var(--ws-1);
}

.scroll-on-top:hover
{
    background-color: var(--gray-gr-2);
}

.su-icon
{
    width: 70%;
    height: 70%;
    fill: var(--dark-gr-6);
}

/** FOOTER */

.main-footer
{
    background-color: var(--plt-red-2);
    padding-top: var(--ws-8);
    padding-bottom: var(--ws-6);
    color: var(--white);
    text-wrap: wrap;
}

.main-footer p, .main-footer label
{
    font-size: var(--body-small);
    text-wrap: wrap;
}

.main-footer svg
{
    height: 20px;
    width: 20px;
}

.footer-content-wrapper
{
    width: var(--bp-laptop-l);
    padding: var(--ws-4);
}

.content
{
    gap: var(--ws-8);
    margin-bottom: var(--ws-10);
    flex-wrap: wrap;
}

.content-section
{
    flex: 1;
    gap: var(--ws-6);
}

.txt-wrapper
{
    gap: var(--ws-2);
    line-height: 1.5;
}

.contact-link-wrapper
{
    gap: var(--ws-4);
}

.contact-link-wrapper span
{
    align-items: center;
    gap: var(--ws-4);
}

.contact-link-wrapper span a
{
    text-decoration: none;
    font-size: var(--body-small);
    color: var(--white);
}

.contact-link, .contact-link path
{
    fill: var(--white);
}

.map-wrapper
{
    height: 250px;
    width: 100%;
}

.map
{
    height: 250px;
    width: 250px;
    overflow: hidden;
    border: 2px solid var(--white);
}

.fb-form
{
    gap: var(--ws-2);
}

.feedback
{
    resize: vertical;
    min-height: 150px;
    max-height: 300px;
}

.send-as-div
{
    gap: var(--ws-2);
    margin-bottom: var(--ws-4);
}

.fb-input
{
    font-size: var(--body-small);
    padding: var(--ws-2);
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: var(--ws-1);
    color: var(--white);
    outline: none;
}

.fb-input::placeholder
{
    color: var(--dark-gr-8);
}

.fb-submit-btn
{
    font-size: var(--body-small);
    color: var(--black);
    background-color: var(--white);
    padding: var(--ws-2);
    border-radius: var(--ws-1);
    border: none;
    outline: none;
    cursor: pointer;
}

/** BREAKPOINTS */

@media screen and (max-width: 1024px)
{
    .about-image-wrapper
    {
        justify-content: center;
    }
}

@media screen and (max-width: 900px)
{
   
    .about-section-content
    {
        flex-direction: column;
    }

    .about-txt
    {
        max-width: var(--bp-tablet);
    }

    .mivis-section-content
    {
        flex-direction: column-reverse;
    }

    .content div
    {
        align-content: center;
    }

    .brgy-cap-content
    {
        flex-direction: column-reverse;
    }
    
    .brgy-cap-wrapper
    {
        width: 100%;
        height: fit-content;
    }

    .brgy-cap-wrapper img
    {
        width: 100%;
    }
}

@media screen and (max-width: 550px) 
{
    .map-wrapper
    {
        display: flex;
        justify-content: center;
    }
}