.header-name-wrapper
{
    width: 100%;
    padding: var(--ws-3);
    height: 90px;
    background-color: var(--plt-red-2);
}

.header-content
{
    width: 100%;
    justify-content: space-between;
    text-align: center;
    margin-left: var(--ws-6);
    font-weight: normal;
    color: var(--white);
    font-size: var(--body-large);
}

.menu
{
    padding: var(--ws-3);
    cursor: pointer;
    border-radius: var(--ws-1);
}